<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>
<ul>
  <li> <a href="students/uno">uno</a> </li>
  <li> <a href="students/dos">dos</a> </li>
  <li>tres</li>
  <li>cuatro</li>
  <li>cinco</li>
  <li>seis</li>
  <li>siete</li>
  <li>ocho</li>
</ul>

